body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,96,0.9023984593837535) 100%, rgba(0,212,255,1) 100%);
}
.main-Box , .allow-box {
    height: 100vh;
}
h2 
{
    color: beige;
}